<ion-header>
  <ion-navbar>
    <ion-title>My Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label color="light" style='background-color: #666;' stacked>My Location</ion-label>
  <div style="color: grey; font-size:12px;">This is your current location. We will offer to change this if you are moving by more than two blocks or so.</div>
  <ion-item no-lines text-wrap style="font-size:14px;">
    <ion-icon name="home" item-left></ion-icon>
    <div *ngIf="address"> {{ address }}</div>
    <div *ngIf="!address"> {{ location }}</div>
  </ion-item>
  <ion-label color="light" style='background-color: #666;' stacked>My Destinations</ion-label>
  <div style="color: grey; font-size:12px;">Click on edit icon to change address or track prices.</div>
  <ion-list no-lines>
    <ion-item text-wrap style="font-size:14px;" *ngFor="let destination of destinations">
      <ion-icon *ngIf="!destination.estimate" name="eye-off" item-left></ion-icon>
      <ion-icon *ngIf="destination.estimate" name="{{ destination.trend }}" item-left></ion-icon>
      <ion-icon *ngIf="destination.alarmState" name="{{ destination.alarmState }}" item-left></ion-icon>
      <div *ngIf="!destination.estimate && !destination.product">{{ destination.text }}</div>
      <div *ngIf="!destination.estimate && destination.product">({{ destination.product }}) {{ destination.text }}</div>
      <div *ngIf="destination.estimate">({{ destination.product }}: {{ destination.estimate }}) {{ destination.text }}</div>
      <ion-icon name="create" item-right (click)="destinationSelected(destination)"></ion-icon>
    </ion-item>  
  </ion-list>
</ion-content>
