page-detail {
  .Map #map 
  { 
    width: 100%; 
    height: 180px; 
    opacity: 0; 
    transition: opacity 150ms ease-in
  }

  ion-item {
    border-top: none;
    border-bottom:none;
    margin-bottom: -5px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}
