<!--
  Generated template for the Detail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Destination</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="Map" padding>
  <!-- <ion-label color="light" style='background-color: #666;' stacked>My Destination</ion-label> -->
  <ion-item no-lines text-wrap style="font-size:14px;">
    <ion-searchbar [(ngModel)]="placesQuery" (ionInput)="autocomplete()" showCancelButton="true"></ion-searchbar>
  </ion-item>
  <ion-list no-lines *ngIf="places.length > 0">
    <ion-item text-wrap style="font-size:14px;" *ngFor="let place of places" (click)="selectPlace(place)">
      <ion-icon name="flag" item-left></ion-icon>
      {{ place.text }}
    </ion-item>
  </ion-list>
  <div *ngIf="!hasCandidate"><hr /></div>
  <ion-item no-lines text-wrap style="font-size:14px;">
    <agm-map id="map" [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [mapDraggable]="false"
    [disableDoubleClickZoom]="true" [streetViewControl]="false" [scrollwheel]="false" [clickableIcons]="false">
      <agm-marker [latitude]="map.lat" [longitude]="map.lng" [openInfoWindow]="false"></agm-marker>
    </agm-map>
  </ion-item>
  <div *ngIf="hasCandidate">
    <ion-grid>
      <ion-row>
        <ion-col col-6><button style="font-size:14px" ion-button block small (click)="setDestination()">Set New Address</button></ion-col>
        <ion-col col-6><button style="font-size:14px" ion-button block small (click)="cancelSelection()">Cancel</button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!hasCandidate">
  <ion-item no-lines text-wrap style="font-size:14px;">
    <ion-icon name="flag" item-left></ion-icon>
    <div> {{ destination.text }}</div>
  </ion-item>
    <hr />
    <ion-grid>
      <ion-row style="font-size:14px">
        <ion-col col-7><ion-icon name="car" item-left></ion-icon> {{ currentProduct }}: {{ destination.estimate }}</ion-col>
        <ion-col col-5><ion-icon [name]="alarmState"></ion-icon> Target: ${{ minMaxPrice }}</ion-col>
      </ion-row>
    </ion-grid>
    <div style="color: grey; font-size:12px;">You can easily save $5 if you wait 10 minutes, we will get a new price every 2 minutes. Set an alarm to be notified when the price decreases while working in another app. Click on settings to change taret price.</div>
    <ion-grid>
      <ion-row>
        <ion-col col-6><button style="font-size:14px" ion-button block small (click)="requestUber()">Request Uber</button></ion-col>
        <ion-col col-4><button style="font-size:14px" ion-button block small [color]="alarmButtonPressed ? 'danger' : 'default'" (click)="switchAlarmState()">{{ alarmText }}</button></ion-col>
        <ion-col col-2><button style="font-size:14px" ion-button small [disabled]="alarmState == 'timer'" (click)="showSettings = ! showSettings"><ion-icon name="settings"></ion-icon></button></ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="showSettings" no-lines radio-group (ngModelChange)="settingsChanged($event)" [(ngModel)]="targetPriceMode">
      <ion-item style="font-size:14px">
        <ion-label>Under lowest price in history: ${{ minMaxPrice }}</ion-label>
        <ion-radio value="history" checked></ion-radio>
      </ion-item>
      <ion-item style="font-size:14px">
        <ion-label>Under current price: ${{ previousHigh - 1 }}</ion-label>
        <ion-radio value="current"></ion-radio>
      </ion-item>
      <ion-item style="font-size:14px">
        <ion-label>Custom price in $:</ion-label>
        <ion-radio value="custom"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid *ngIf="showSettings && targetPriceMode == 'custom'">
        <ion-row>
          <ion-col col-2><button style="font-size:14px" ion-button block small [disabled]="customTarget < 11" (click)="customTarget = customTarget - 10">-10</button></ion-col>
          <ion-col col-2><button style="font-size:14px" ion-button block small [disabled]="customTarget < 2" (click)="customTarget = customTarget - 1">-1</button></ion-col>
          <ion-col col-4><ion-input text-center type="number" min="1" max="${{ previousHigh - 1 }}" [(value)]="customTarget"></ion-input></ion-col>
          <ion-col col-2><button style="font-size:14px" ion-button block small [disabled]="customTarget > previousHigh - 2" (click)="customTarget = customTarget + 1">+1</button></ion-col>
          <ion-col col-2><button style="font-size:14px" ion-button block small [disabled]="customTarget > previousHigh - 11" (click)="customTarget = customTarget + 10">+10</button></ion-col>
        </ion-row>
      </ion-grid>
    <ion-label color="light" style='background-color: #666;' stacked>Real-time Price Quote</ion-label>
    <ion-grid>
      <ion-row style="font-size:12px">
        <ion-col col-2 text-center *ngIf="prices.length > 0">
          <div> 0 min</div>
          <ion-icon name="" item-left></ion-icon>
          <div>${{ prices[0]['high'] }}</div>
        </ion-col>
        <ion-col col-2 text-center *ngIf="prices.length > 1">
          <div> 2 min</div>
          <ion-icon [name]="prices[1]['trend']" item-left></ion-icon>
          <div>${{ prices[1]['high'] }}</div>
        </ion-col>
        <ion-col col-2 text-center *ngIf="prices.length > 2">
          <div> 4 min</div>
          <ion-icon [name]="prices[2]['trend']" item-left></ion-icon>
          <div>${{ prices[2]['high'] }}</div>
        </ion-col>
        <ion-col col-2 text-center *ngIf="prices.length > 3">
          <div> 6 min</div>
          <ion-icon [name]="prices[3]['trend']" item-left></ion-icon>
          <div>${{ prices[3]['high'] }}</div>
        </ion-col>
        <ion-col col-2 text-center *ngIf="prices.length > 4">
          <div> 8 min</div>
          <ion-icon [name]="prices[4]['trend']" item-left></ion-icon>
          <div>${{ prices[4]['high'] }}</div>
        </ion-col>
        <ion-col col-2 text-center *ngIf="prices.length > 5">
          <div> 10 min</div>
          <ion-icon [name]="prices[5]['trend']" item-left></ion-icon>
          <div>${{ prices[5]['high'] }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <br />
    <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
      [chartType]="chartType" [colors]="lineChartColors"></canvas> -->
    <ion-label color="light" style='background-color: #666;' stacked>Products</ion-label>
    <div style="color: grey; font-size:12px;">Click on swap icon to select product, this will reset price tracking and clear alarm. Click on expand icon to show more products.</div>
    <ion-list no-lines *ngIf="listType == 'core'">
      <ion-item style="font-size:14px;" *ngFor="let product of coreProducts">
        <ion-icon name="car" item-left></ion-icon>
        {{ product.text }}
        <ion-icon name="swap" item-right (click)="productSelected(product)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="expand" item-left (click)="switchLists()"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list no-lines *ngIf="listType == 'full'">
      <ion-item style="font-size:14px;" *ngFor="let product of products">
        <ion-icon name="car" item-left></ion-icon>
        {{ product.text }}
        <ion-icon name="swap" item-right (click)="productSelected(product)"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="contract" item-left (click)="switchLists()"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
